In [1]:
import pandas as pd

In [2]:
csv = 'resources/weapon_type.csv'

In [3]:
weapon_df = pd.read_csv(csv, encoding="ISO-8859-1")
weapon_df.head()

,Table 20,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Murder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by State, Types of Weapons, 2015",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,Total\nmurders1,Total\nfirearms,Handguns,Rifles,Shotguns,Firearms\n(type\nunknown),Knives or\ncutting\ninstruments,Other\nweapons,"Hands, fists,\nfeet, etc.2"
3,Alabama3,3,3,1,0,1,1,0,0,0
4,Alaska,57,39,12,2,1,24,7,8,3

In [4]:
#Add columns and delete uneccessary rows
weapon_df.columns = ['State', 'Total Murders', 'Total Firearms', 'Handguns', 'Rifles', 'Shotguns', 'Unknown Firearms',
                    'Knives', 'Other Weapons', 'Hands/Feet/etc']
weapon_df = weapon_df.iloc[3:54]

weapon_df.head(100)

,State,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Unknown Firearms,Knives,Other Weapons,Hands/Feet/etc
3,Alabama3,3,3,1,0,1,1,0,0,0
4,Alaska,57,39,12,2,1,24,7,8,3
5,Arizona,278,171,128,4,3,36,42,55,10
6,Arkansas,164,110,51,10,4,45,18,30,6
7,California,"1,861","1,275",855,34,33,353,263,233,90
8,Colorado,176,115,65,12,6,32,25,19,17
9,Connecticut,107,73,29,0,2,42,16,9,9
10,Delaware,63,52,26,0,0,26,6,3,2
11,District of Columbia,162,121,65,1,0,55,28,8,5
12,Georgia,565,464,394,16,10,44,38,60,3
13,Hawaii,19,4,1,1,0,2,6,2,7
14,Idaho,30,24,17,4,0,3,3,3,0
15,Illinois3,497,440,431,2,1,6,29,25,3
16,Indiana,272,209,147,9,5,48,22,29,12
17,Iowa,72,49,31,0,2,16,10,5,8
18,Kansas,125,91,51,4,4,32,9,14,11
19,Kentucky,209,141,91,1,9,40,30,26,12
20,Louisiana,474,379,207,7,9,156,46,43,6
21,Maine,23,16,15,0,0,1,3,1,3
22,Maryland,372,279,266,3,3,7,44,33,16
23,Massachusetts,126,81,33,1,0,47,27,11,7
24,Michigan,571,389,148,10,10,221,52,103,27
25,Minnesota,133,79,47,6,9,17,21,23,10
26,Mississippi,159,126,102,3,5,16,11,14,8
27,Missouri,499,418,233,12,11,162,26,40,15
28,Montana,36,18,13,0,0,5,8,3,7
29,Nebraska,61,43,41,1,1,0,9,8,1
30,Nevada,177,113,17,1,1,94,25,30,9
31,New Hampshire,14,8,4,0,0,4,6,0,0
32,New Jersey,353,255,200,3,0,52,38,41,19
33,New Mexico,94,56,14,1,2,39,18,19,1
34,New York,611,383,331,1,5,46,104,104,20
35,North Carolina,506,353,235,10,21,87,41,77,35
36,North Dakota,17,9,5,0,0,4,3,1,4
37,Ohio,480,316,184,12,7,113,39,103,22
38,Oklahoma,233,149,113,8,9,19,33,32,19
39,Oregon,71,34,17,1,5,11,12,22,3
40,Pennsylvania,651,497,386,10,11,90,65,67,22
41,Rhode Island,27,10,3,0,1,6,10,6,1
42,South Carolina,394,312,201,7,10,94,34,34,14
43,South Dakota,27,12,5,1,5,1,8,2,5
44,Tennessee,402,297,204,13,7,73,40,51,14
45,Texas,"1,276",906,610,19,36,241,146,135,89
46,Utah,54,34,26,2,0,6,5,6,9
47,Vermont,10,8,2,4,0,2,0,1,1
48,Virginia,383,275,148,6,7,114,51,43,14
49,Washington,209,141,84,3,5,49,18,36,14
50,West Virginia,57,30,19,1,1,9,6,17,4
51,Wisconsin,238,170,122,5,4,39,37,25,6
52,Wyoming,16,10,4,0,3,3,2,3,1
53,Guam,6,3,1,0,0,2,1,2,0

In [5]:
#Clean up extra parts of State
weapon_df['State'] = weapon_df['State'].map(lambda x: x.rstrip('3'))
weapon_df.head()

,State,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Unknown Firearms,Knives,Other Weapons,Hands/Feet/etc
3,Alabama,3,3,1,0,1,1,0,0,0
4,Alaska,57,39,12,2,1,24,7,8,3
5,Arizona,278,171,128,4,3,36,42,55,10
6,Arkansas,164,110,51,10,4,45,18,30,6
7,California,"1,861","1,275",855,34,33,353,263,233,90

In [6]:
#Set State as index
weapon_df.set_index('State', inplace = True)
weapon_df.head()

,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Unknown Firearms,Knives,Other Weapons,Hands/Feet/etc
State,,,,,,,,,
Alabama,3,3,1,0,1,1,0,0,0
Alaska,57,39,12,2,1,24,7,8,3
Arizona,278,171,128,4,3,36,42,55,10
Arkansas,164,110,51,10,4,45,18,30,6
California,"1,861","1,275",855,34,33,353,263,233,90

In [7]:
#Bring in Gun Violence CSV
gun_violence_df = pd.read_csv('resources/gun_murder_rates.csv', encoding="ISO-8859-1")
gun_violence_df.head()

,State,Total Population,Murders and Nonnegligent Manslaughter,Murders,Gun Murders,Gun Ownership (%),Murders and Nonnegligent Manslaughter Rate (%),Murder Rate (%),Gun Murder Rate (%)
0,Alabama,4853875,348,3,3,48.9,7.2,0.1,0.1
1,Alaska,737709,59,57,39,61.7,8.0,7.7,5.3
2,Arizona,6817565,309,278,171,32.3,4.5,4.1,2.5
3,Arkansas,2977853,181,164,110,57.9,6.1,5.5,3.7
4,California,38993940,1861,1861,1275,20.1,4.8,4.8,3.3

In [8]:
#Merge columns
merge_gun_df = pd.merge(weapon_df, gun_violence_df, on="State", how="left")
merge_gun_df.head()

,State,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Unknown Firearms,Knives,Other Weapons,Hands/Feet/etc,Total Population,Murders and Nonnegligent Manslaughter,Murders,Gun Murders,Gun Ownership (%),Murders and Nonnegligent Manslaughter Rate (%),Murder Rate (%),Gun Murder Rate (%)
0,Alabama,3,3,1,0,1,1,0,0,0,4853875.0,348.0,3,3,48.9,7.2,0.1,0.1
1,Alaska,57,39,12,2,1,24,7,8,3,737709.0,59.0,57,39,61.7,8.0,7.7,5.3
2,Arizona,278,171,128,4,3,36,42,55,10,6817565.0,309.0,278,171,32.3,4.5,4.1,2.5
3,Arkansas,164,110,51,10,4,45,18,30,6,2977853.0,181.0,164,110,57.9,6.1,5.5,3.7
4,California,"1,861","1,275",855,34,33,353,263,233,90,38993940.0,1861.0,1861,1275,20.1,4.8,4.8,3.3

In [9]:
#Delete redundant columns and organize
del merge_gun_df['Murders']
del merge_gun_df['Gun Murders']
merge_gun_df.set_index('State', inplace = True)
merge_gun_df.head()

,Total Murders,Total Firearms,Handguns,Rifles,Shotguns,Unknown Firearms,Knives,Other Weapons,Hands/Feet/etc,Total Population,Murders and Nonnegligent Manslaughter,Gun Ownership (%),Murders and Nonnegligent Manslaughter Rate (%),Murder Rate (%),Gun Murder Rate (%)
State,,,,,,,,,,,,,,,
Alabama,3,3,1,0,1,1,0,0,0,4853875.0,348.0,48.9,7.2,0.1,0.1
Alaska,57,39,12,2,1,24,7,8,3,737709.0,59.0,61.7,8.0,7.7,5.3
Arizona,278,171,128,4,3,36,42,55,10,6817565.0,309.0,32.3,4.5,4.1,2.5
Arkansas,164,110,51,10,4,45,18,30,6,2977853.0,181.0,57.9,6.1,5.5,3.7
California,"1,861","1,275",855,34,33,353,263,233,90,38993940.0,1861.0,20.1,4.8,4.8,3.3

In [10]:
# Write to CSV for uploading to SQL
merge_gun_df.to_csv('resources/state_violence.csv',index=True,header = True)

In [11]:
#Set Up SQL Alchemy For FlaskApp
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
#Create SQLite Database
engine = create_engine("sqlite:///resources/state_violence.sqlite")

merge_gun_df.to_sql('type_and_rate', engine, if_exists='replace', index = True)